 <!DOCTYPE html>
html(lang="ru")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="apple-touch-icon", sizes="180x180", href="/images/favicon/apple-touch-icon.png")
  link(rel="icon", type="image/png", sizes="32x32", href="/images/favicon/favicon-32x32.png")
  link(rel="icon", type="image/png", sizes="16x16", href="/images/favicon/favicon-16x16.png")
  link(rel="manifest", href="/images/favicon/site.webmanifest")
  link(rel="mask-icon", href="/images/favicon/safari-pinned-tab.svg", color="#5bbad5")
  link(rel="shortcut icon", type="image/x-icon" href="/images/favicon/favicon.ico")
  meta(name="msapplication-TileColor", content="#da532c")
  meta(name="msapplication-config", content="/images/favicon/browserconfig.xml")
  meta(name="theme-color", content="#ffffff")
  link(rel="stylesheet", href="css/bootstrap.min.css")
  link(rel="stylesheet", href="css/animate.min.css")
  link(rel="stylesheet", href="css/jquery.fancybox.css")
  link(rel="stylesheet", href="css/jquery.mb.YTPlayer.min.css")
  link(rel="stylesheet", href="css/slick.min.css")
  link(rel="stylesheet", href="css/slick-theme.min.css")
  link(rel="stylesheet", href="css/style.min.css")
  link(rel="stylesheet", href="css/media.min.css")
  script(src=src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBxONdPHrqHrVstWk5hSD-XTZ8AJ81RPKo')
  title Test Project

body
  h1 Test Project
  
  script(src='js/libs/jquery.min.js')
  script(src='js/libs/jquery.mb.YTPlayer.min.min.js')
  script(src='js/libs/wow.min.js')
  script(src='js/libs/slick.min.js')
  script(src='js/libs/jquery.fancybox.min.js')
  script(src='js/libs/popper.min.js')
  script(src='js/libs/bootstrap.bundle.min.js')
  script(src='js/libs/bootstrap.min.js')
  script(src='js/script.min.js')
