// Normalize css
@import "normalize";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic,cyrillic-ext');

// Variables
@import "variables";
// All styles

@import "hamburger-icon";

body {
  font-family: 'Roboto', sans-serif;
  color: $color_6;
}
